main {
    display: flex;
    position: static;

    .bp-widget {
        position: static;
    }

    >.bp-manageableArea {
        height: 100vh;
        overflow: auto;
        flex-grow: 1;
    }
}